html {
  background: white; }

* {
  border: 0;
  margin: 0; }
  * .header_button, * .section_banner_button {
    color: white; }
  * .header {
    display: inline-block;
    background: url(../img/m-h-day.jpg) no-repeat;
    background-position-y: 55%;
    border-bottom-right-radius: 40%;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    height: 700px; }
    * .header .landing-logo {
      display: flex;
      flex-flow: row nowrap;
      color: #2C2F3C; }
      * .header .landing-logo img {
        float: left;
        padding-top: 2.5%; }
      * .header .landing-logo p {
        padding: 2% 0 0 1%;
        font-size: 30px;
        font-family: "Source Sans Pro", sans-serif; }
        * .header .landing-logo p span {
          display: block;
          font-size: 12px;
          padding-left: 15%; }
    * .header_heading {
      line-height: 70px;
      color: #2C2F3C;
      font-weight: bold;
      font-size: 76px;
      font-family: "Source Sans Pro", sans-serif;
      padding-top: 5%;
      box-sizing: border-box;
      position: relative;
      z-index: 20;
      width: 50%; }
    * .header_heading:after {
      content: "";
      width: 315px;
      height: 20px;
      background-color: #3FA0C7;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: -20; }
    * .header_text {
      white-space: pre-line;
      line-height: 28px;
      font-size: 16px;
      font-family: "Hind", sans-serif;
      color: #2C2F3C; }
    * .header_button {
      background: #699928;
      width: 150px;
      height: 50px;
      font-size: 20px;
      border: 0;
      border-radius: 5px;
      font-family: 'Fresca', sans-serif;
      margin-top: 50px; }
  * .section_text {
    color: #2C2F3C;
    text-align: center;
    font-size: 45px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 3% 0;
    position: relative;
    z-index: 20; }
  * .section_text:after {
    display: inline-block;
    content: "";
    width: 12.5%;
    height: 20px;
    left: 51%;
    background-color: #3FA0C7;
    bottom: 0;
    position: absolute;
    z-index: -20; }
  * .section_card_wrap {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 9%;
    text-align: center; }
  * .section_card {
    background: #21232E;
    width: 33%;
    margin-left: 1%;
    border-radius: 5px; }
    * .section_card_img {
      padding: 5% 0;
      width: 90%;
      border-radius: 30px; }
    * .section_card_heading {
      display: inline-block;
      color: white;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 25px;
      position: relative;
      z-index: 2; }
    * .section_card_heading:after {
      content: "";
      width: 100%;
      height: 12.5px;
      background-color: #3FA0C7;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: -20; }
    * .section_card_text {
      color: #8A95A4;
      font-family: "Hind", sans-serif;
      padding: 5% 3%;
      font-size: 18px; }
  * .section_banner {
    margin: 10% 15% -5% 15%;
    height: 150px;
    background: linear-gradient(45deg, #689827, #2B5ADD);
    border-radius: 5px;
    position: relative;
    z-index: 1; }
    * .section_banner_heading {
      color: #21232E;
      width: 100%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 32px;
      font-weight: bold;
      padding: 20px 0 0 100px;
      z-index: 1;
      position: relative; }
    * .section_banner_heading:after {
      content: "";
      width: 65px;
      height: 16px;
      background-color: #3FA0C7;
      left: 19%;
      bottom: 2px;
      position: absolute;
      z-index: -20; }
    * .section_banner_text {
      padding: 20px 0 0 100px;
      font-size: 18px;
      color: #B0C3CC;
      font-family: "Hind", sans-serif;
      z-index: -1;
      position: relative; }
    * .section_banner_button {
      background: #699928;
      width: 150px;
      height: 50px;
      font-size: 20px;
      border: 0;
      border-radius: 5px;
      font-family: 'Fresca', sans-serif;
      margin: 0 0 0 75%;
      bottom: 60px;
      z-index: 2;
      position: relative; }
  * .footer {
    height: 250px;
    background: #21232E;
    font-family: "Source Sans Pro", sans-serif; }
    * .footer-wrap {
      display: flex;
      flex-flow: row nowrap;
      padding: 150px 0 0 10%;
      align-items: center;
      align-content: center;
      justify-content: space-between; }
    * .footer_logo {
      display: flex;
      flex-flow: row nowrap; }
      * .footer_logo p {
        float: right;
        color: #BEC2CF;
        font-size: 26px;
        padding-left: 10%; }
        * .footer_logo p span {
          display: block;
          font-size: 10px;
          padding-left: 1%;
          position: absolute; }
    * .footer_text {
      font-size: 14px;
      color: #BEC2CF;
      margin: 0 5% 0 20%; }
    * .footer-cr {
      font-size: 16px;
      color: #BEC2CF;
      text-align: right;
      padding-right: 10%;
      font-family: "Source Sans Pro", sans-serif;
      position: static;
      box-sizing: border-box;
      width: 100%; }
