* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
#root {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
    padding: 0px 50px;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-bottom: 5px solid #E2F1FD;
    height: 150px;
}
header h1 {
    text-align: center;
    margin: 20px 0px;
    color: #44B4F8;
}
.overTask {
    text-align: center;
    color: red;
    position: absolute;
    width: 100%;
}
.plusActionToHeader {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.addAction {
    height: 50px;
    padding: 0px 20px;
    width: 100%;
    border: 1px solid #C6D0D7;
}
.button_add_action {
    margin: 0px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button_add_action i {
    font-size: 46px;
    color: #C6D0D7;
    transition: all .2s ease-in-out;

}
.button_add_action:hover i {
    transform: rotate(90deg);
    color: #aaa;
}
.field {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.section_div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%
}
.delete_edit_div {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.edit_ {
    display: flex;
    align-items: center;
    height: 25px;
}
.input_check {
    position: relative;
    width: 0px;
    height: 0px;
    margin-left: 25px;
    margin-right: 8px;
}
.input_check:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #aaa;
    top: -12px;
    left: -25px;
}
.input_check:after {
    content: '\2713';
    position: absolute;
    left: -21px;
    top: -14px;
    font-size: 18px;
    color: #aaa;
    opacity: 0;
}
.input_check:checked:after {
    opacity: 1;
}
.value {
    color: #44B4F8;
    font-size: 18px;
}
.editButton {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
.editButton .material-icons {
    color: #8AC4F4;
    font-size: 28px;
}
.delete {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.delete .material-icons{
    font-size: 28px;
    color: #8AC4F4;
}
._edited_save_div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.changeInput {
    height: 40px;
    max-width: 350px;
    width: 100%;
    padding: 0px 20px;
    border: 1px solid #C6D0D7;
}
.editSaveButton {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
.editSaveButton .material-icons {
    font-size: 28px;
    color: #8AC4F4;
}