* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}
body {
    font-family: roboto, sans-serif;
    background-color: #0b192f;
}
a {
    color: white;
}
span {
    color: #b3b3b3;
    position: absolute;
    font-weight: 100;
    padding: 3%;
    height: 50%;
    width: 2%;
    font-size: 2.5vw;
}
.m_button {
    display: none;
}
.container {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-areas: "header header"
    "main-post news-blog"
    "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4rem 1fr 5rem;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #162b4d;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.__logotype h1 {
    line-height: 2;
    color: white;
    font-weight: 100;
}
.__logotype h1 span {
    position: inherit;
    font-size: inherit;
}
.__logotype h1 span {
    color: #B71757;
}
header nav {
    line-height: 4rem;
}
header nav a {
    padding: 0 15px;
    display: inline-block;;
}
header nav a:hover {
    background-color: #b8b8b8;
    transition: 1s;
}

.main-post {
    grid-area: main-post;
    margin: 20px 20px 20px 0;
    padding: 0;
    display: grid;
    grid-template-areas: "area_1-img area_1"
    "area_2 area_2-img"
    "area_3-img area_3"
    "area_4 area_4-img"
    "post-5 post-5";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px 150px;
}
.main-post h1 {
    color: white;
    font-size: 3vw;
    font-weight: 100;
    padding: 3%;
    line-height: 1;
}
.main-post p {
    color: #cdcdcb;
    font-size: 16px;
    font-weight: 300;
    padding: 4%;
}
.area_1, .area_2, .area_3, .area_4, .post-5 {
    position: relative;
    padding: 2%;
}
.top_r {
    text-align: left;
}
.top_l {
    text-align: right;
    padding-left: 15%;
}
.top_r span{
    bottom: 42%;
    right: 12%;
}
.top_l span{
    bottom: 42%;
    left: 0;
}
.post:hover, .pic_post:hover {
    opacity: 0.5;
    transition: 0.5s;
}
.area_1 {
    grid-area: area_1;
    background: #B71757;
}
.area_1-img {
    grid-area: area_1-img;
    background: url(../img/post1.jpg) no-repeat center center;
    background-size: cover;
}
.area_2 {
    grid-area: area_2;
    background: #0D7E71;
}
.area_2-img {
    grid-area: area_2-img;
    background: url(../img/post2.jpg) no-repeat center center;
    background-size: cover;
}
.area_3 {
    grid-area: area_3;
    background: #b1660e;
}
.area_3-img {
    grid-area: area_3-img;
    background: url(../img/post3.jpg) no-repeat center center;
    background-size: cover;
}
.area_4 {
    grid-area: area_4;
    background: #d12767;
}
.area_4-img {
    grid-area: area_4-img;
    background: url(../img/post4.jpg) no-repeat center center;
    background-size: cover;
}
.post-5 {
    grid-area: post-5;
    background: #2d95bb;
}
.post-5 p {
    padding: 0;
    max-width: 80%;
}
.post-5 h1 {
    width: inherit;
    line-height: inherit;
    padding: 0;
}
.post-5 span {
    bottom: 30%;
    right: 2%;
}

.news-blog {
    grid-area: news-blog;
    margin: 20px 0;
}
.post_elements {
    height: 23%;
    margin-bottom: 24%;
}
.post_elements-img-1 {
    height: 40%;
    background: url(../img/news1.jpg) no-repeat center center;
    background-size: cover;
}
.post_elements-img-2 {
    height: 40%;
    background: url(../img/news2.jpg) no-repeat center center;
    background-size: cover;
}
.info_description {
    height: 60%;
    padding: 25px 25px;
    background-color: white;
    color: #b0b0b0;
    font-weight: 300;
    text-align: left;
    font-size: 1.1vw;
}
.info_description h2 {
    padding-bottom: 10px;
    color: black;
    font-weight: 300;
}

footer {
    grid-area: footer;
    background-color: #162b4d;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    color: #969696;
    margin-bottom: 5px;
}
footer .copy {
    max-width: 50%;
    line-height: 1;
}
footer .company {
    max-width: 30%;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    .m_button {
        display: block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        bottom: 75%;
    }
    .m_button span,
    .m_button span::before,
    .m_button span::after {
        position: absolute;
        top: 50%;
        margin-top: 1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: white;
    }
    .m_button span::before,
    .m_button span::after {
        content: '';
    }
    .m_button span::before {
        transform: translateY(-6px);
    }
    .m_button span::after {
        transform: translateY(2px);
    }
    .__logotype {
        padding-top: 50px;
    }
    header, span, footer, .main-post {
        margin: 0;
        padding: 0;
    }
    nav {
        display: none;
    }
    footer, header {
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
    }
    .main-post {
        margin: 5% 0;
        grid-template-areas: "area_1-img" "area_1"
        "area_2-img" "area_2"
        "area_3-img" "area_3"
        "area_4-img" "area_4"
        "post-5";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 25rem);
    }
    .main-post .post {
        padding: 0;
    }
    .post h1 {
        font-size: 38px;
        text-align: left;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem ;
    }
    .post p {
        text-align: left;
        font-size: 2.5vw;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
    }
    .post span {
        font-size: 2.5rem;
        position: absolute;
        float: none;
        display: block;
        width: 2.5rem;
        left: 43%;
        top: 75%;
    }
    .container {
        width: 96%;
        margin: 2% 2%;
        grid-template-areas: "header header"
        "main-post news-blog"
        "main-post news-blog"
        "footer footer";
        grid-template-columns: auto;
        grid-template-rows: 8rem auto auto 7rem;
    }
    .post_elements {
        height: 20rem;
        margin: 0 0 4rem 25px;
        padding: 0;
    }
    .info_description {
        height: 55%;
        padding: 20px;
        font-size: 2vw;
        font-weight: 300;
    }
    .post_elements-img-1, .post_elements-img-2 {
        height: 45%;
    }
    footer .copy, footer .company {
        padding-top: 2%;
        max-width: 100%;
        text-align: center;
        line-height: 1.3;
    }
}

@media screen and (max-width: 480px){
    header, span, footer, .main-post {
        margin: 0;
        padding: 0;
    }
    nav {
        display: none;
    }
    footer, header {
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
    }
    .main-post {
        margin: 5% 0;
        grid-template-areas: "area_1-img" "area_1"
        "area_2-img" "area_2"
        "area_3-img" "area_3"
        "area_4-img" "area_4"
        "post-5";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 25rem);
    }
    .main-post .post {
        padding: 0;
    }
    .post h1 {
        font-size: 42px;
        text-align: left;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem ;
    }
    .post p {
        text-align: left;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
        font-size: 4vw;
    }
    .post span {
        font-size: 2.5rem;
        position: absolute;
        float: none;
        display: block;
        width: 2.5rem;
        left: 43%;
        top: 75%;
    }
    .container {
        width: 96%;
        margin: 2% 2%;
        grid-template-areas: "header"
        "main-post" "news-blog"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 8rem 1fr auto 7rem;
    }
    .post_elements {
        height: 20rem;
        margin: 0 0 4rem 0;
        padding: 0;
    }
    .info_description {
        height: 33.33%;
        padding: 20px;
        font-size: 14px;
        font-weight: 300;
    }
    .post_elements-img-1, .post_elements-img-2 {
        height: 66.66%;
    }
    footer .copyright, footer .company {
        max-width: 100%;
        text-align: center;
        line-height: 1.3;
    }
}