* {
    border: 0;
    margin: 0; }

.header{
    background: url("../img/sample2.jpg")no-repeat top center;
    /*-webkit-background-size: inherit;*/
    height: 1491px;
    width: 100%;
    background-size: contain;
}
.menu a{
    color: white;
    text-decoration: none;
}
.title{
    text-align: center;
    font-size: 32px;
}
.header_underblock{
    background: linear-gradient(10deg, #F3F3F3 50%, transparent, black 50%);
    width: 100%;
    height: 500px;
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
}
.header_underblock > div{
    width:50%;
    padding-top: 10%;
    color:aqua;
}

.header .header_wrap p{
    padding-top: 13%;
font-size: 48px;
    color: white;
    font-family: "Arial Unicode MS";
    letter-spacing: 15px;
}
.header_symbol{
    font-size: 100px;
}
.header .header_wrap p span {
    display: block;
    font-size: 20px;
    letter-spacing: 1px;}

.header_buttons{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
    background: transparent;


}
.header_buttons div{
    border: 2px solid white;
    height: 60px;
    width: 250px;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: "Arial Unicode MS";
    margin: 40% 25% 0 25%;
    box-sizing: border-box;
}
.menu{
    color: white;
    padding: 3% 2% 0 6%;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    font-size: 18px;
    font-family: "Arial Unicode MS";

}
.text_title{
    text-align: center;
    font-size: 32px;
    color: red;
}
.insider_block{
    padding-right: 20%;
    display: grid;
    grid-template-rows: 40% 100% 100%;
}

.text{
    text-align: center;
    display: grid;
    grid-gap: 10px;
grid-template-columns: 50% 50%;
    background: #F3F3F3;
}
.photos{
    display: flex;
    flex-flow: row nowrap;
}
.photo_grid{
    height: 400px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
}
.feed:nth-child(2) {
    background: url(../img/news-list-2.jpg) no-repeat center center;
}
.feed:nth-child(3) {
    background: url(../img/news-list-3.jpg) no-repeat center center;
}
.feed:nth-child(4) {
    background: url(../img/news-list-4.jpg) no-repeat center center;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    .features-block-item-text-right p, .features-block-item-text-left p {
        font-size: 12px;
    }
}
footer {
    background-color: white;
    display: flex;
    padding: 20px 0;
}
footer .rights {
    display: inline-flex;
    color: #bababa;
}
footer .navigation {
    float: right;
}
footer .nav a {
    color: black;
    padding-left: 20px;
}
.news button.load {
    margin: 3% auto;
    display: block;
    height: 40px;
    width: 300px;
    color: white;
    background-color: #097774;
    border: none;
}

.subscr {
    padding-bottom: 50px;
    margin-bottom: 25px;
}
.subscr_subscribe {
    float: right;
}
.subscr_subscribe label {
    font-size: 24px;
    padding-right: 15px;
}
.subscr_subscribe label span {
    font-weight: 700;
}
.subscr_subscribe input {
    padding: 7px;
}
.subscr_subscribe button {
    display: inline-block;
    height: 35px;
    width: 100px;
    color: white;
    background-color: #097774;
    border: none;
}
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}
a {
    text-decoration: none;
    color: white;
}
.wrap {
    width: 90%;
    margin: 0 auto;
}

.header-top {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}
.header-top-logo a {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header-top-auth span {
    padding-right: 25px;
}
.header-main-text {
    text-align: center;
    margin-top: 10%;
}
.header-main-text h1 {
    text-transform: uppercase;
    font-size: 56px;
    color: white;
    line-height: 1;
}
.header-main-text h1 span {
    font-size: 200%;
}
.header-main-text p {
    color: white;
    padding-top: 0;
}
.header-navigation {
    margin: 300px 10% 0 10%;
    display: flex;
    justify-content: space-between;
}
.header-navigation-item {
    margin: 0 3%;
    border: 2px solid white;
    width: 425px;
    height: 57px;
    text-align: center;
    padding: 0;
}

.description {
    background: black;
    background: linear-gradient(10deg, #F3F3F3 50%, transparent, black 50%);
    width: 100%;
    position: relative;
    top: -20px;
    height: 500px;
    margin-bottom: 0;
    z-index: -1;
}
.description_text .right {
    color: white;
    width: 450px;
    height: 150px;
    float: right;
    margin: 100px 40px 0 40px;
    box-sizing: border-box;
}
.description_text .left {
    color: black;
    width: 450px;
    height: 300px;
    padding: 220px 0 0 70px;
}
.description_text .left span {
    font-weight: 700;
}

.features h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -500px;
}
.features h3 span {
    font-weight: 700;
}
.features-block {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    padding: 0;
}
.features-block-item {
    width: 100%;
    max-height: 400px;
}
.block_item_img_left {
    width: 50%;
    float: left;
    background: url(../img/sample-1.jpg) no-repeat center center;
    background-size: cover;
    height: 310px;
}
.block_item_img_left p {
    top: 85%;
    left: 2%;
    color: white;
    position: relative;
}
.block_item_img_left span {
    float: right;
    border: 1px solid white;
    color: white;
    right: 2%;
    /*top: -15%;*/
    position: relative;
    background-color: rgba(158, 158, 158, 0.3);
    padding: 1px;
}
.block_item_img_right {
    width: 50%;
    float: right;
    background: url(../img/sample-2.jpg) no-repeat center center;
    background-size: cover;
    height: 310px;
}
.block_item_img_right p {
    top: 85%;
    left: 2%;
    color: white;
    position: relative;
}
.block_item_img_right span {
    float: right;
    border: 1px solid white;
    color: white;
    right: 2%;
    /*top: -12%;*/
    position: relative;
    background-color: rgba(158, 158, 158, 0.3);
    padding: 1px;
}
.block_text_right {
    float: right;
    width: 40%;
    word-wrap: break-word;
    text-align: right;
    font-size: 16px;
}
.features-block-item-text-right p {
    padding-bottom: 10px;
}
.block_text_left {
    float: left;
    width: 40%;
    text-align: left;
    word-wrap: break-word;
    font-size: 16px;
}
.features-block-item-text-left p {
    padding-bottom: 10px;
}

.news {
    margin-top: 40px;
    background-color: white;
    height: 25%;
}
.news-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}
.feed {
    width: 20%;
    height: 350px;
    background: url(../img/news-list-1.jpg) no-repeat center center;
    background-size: cover;
}
.news-block-item-inner {
    width: 95%;
}
.news-block-item-inner span {
    float: right;
    border: 1px solid white;
    color: white;
    right: 2%;
    top: -12%;
    position: relative;
    background-color: rgba(158, 158, 158, 0.1);
    padding: 3px;
}
.news-block-item-inner p.explore {
    width: 90%;
    background-color: rgba(9, 119, 116, 0.75);
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 2px 10px;
    font-size: 14px;
    position: relative;
    display: block;
    top: 165px;
    left: 8%;
}
.news-block-item-inner p {
    top: 270px;
    left: 5%;
    color: white;
    position: relative;
}
.news-block-item:nth-child(2) {
    background: url(../img/news-list-2.jpg) no-repeat center center;
}
.news-block-item:nth-child(3) {
    background: url(../img/news-list-3.jpg) no-repeat center center;
}
.news-block-item:nth-child(4) {
    background: url(../img/news-list-4.jpg) no-repeat center center;
}
.news button.load {
    margin: 3% auto;
    display: block;
    height: 40px;
    width: 300px;
    color: white;
    background-color: #097774;
    border: none;
}

.subscr {
    padding-bottom: 50px;
    margin-bottom: 25px;
}
.subscribe-text{
    padding-top: 100px;
}
.subscr_subscribe {
    float: right;
}
.subscr_subscribe label {
    font-size: 24px;
    padding-right: 15px;
}
.subscr_subscribe label span {
    font-weight: 700;
}
.subscr_subscribe input {
    padding: 7px;
}
.subscr_subscribe button {
    display: inline-block;
    height: 35px;
    width: 100px;
    color: white;
    background-color: #097774;
    border: none;
}

footer {
    background-color: white;
    display: flex;
    padding: 20px 0;
}
footer .copy {
    display: inline-flex;
    color: #bababa;
}
footer .nav {
    float: right;
}
footer .nav a {
    color: black;
    padding-left: 20px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .features-block-item-text-right p, .features-block-item-text-left p {
        font-size: 12px;
    }
}