$color_map:(
        background: $button_color);
@mixin flex{
  display: flex;
  flex-flow: row nowrap;
}
html{
  background: $html_color;
}
*{
  border: 0;
  margin: 0;
%body {
  color: $sch_color;
}
  .header {
    display: inline-block;
    background: $bg;
    background-position-y: 55%;
    border-bottom-right-radius: 40%;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    height: 700px;

    .landing-logo {
      @include flex;
      color: $top_logo_color;

      img {
        float: left;
        padding-top: 2.5%;
      }

      p {
        padding: 2% 0 0 1%;
        font-size: 30px;
        font-family: $font_1;

        span {
          display: block;
          font-size: 12px;
          padding-left: 15%;
        }
      }
    }

    &_heading {
      line-height: 70px;
      color: $b_text_color;
      font-weight: bold;
      font-size: 76px;
      font-family: $font_1;
      padding-top: 5%;
      box-sizing: border-box;
      position: relative;
      z-index: 20;
      width: 50%;
    }

    &_heading:after {
      content: "";
      width: 315px;
      height: 20px;
      background-color: $underline_color;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: -20;
    }


    &_text {
      white-space: pre-line;
      line-height: 28px;
      font-size: 16px;
      font-family: $font_2;
      color: $s_text_color;
    }

    &_button {
      @extend %body;
      background: map_get($color_map, background);
      width: 150px;
      height: 50px;
      font-size: 20px;
      border: 0;
      border-radius: 5px;
      font-family: 'Fresca', sans-serif;
        margin-top: 50px;
      }
    }

    .section {
      &_text {
        color: $b_text_color;
        text-align: center;
        font-size: 45px;
        font-family: $font_1;
        margin: 3% 0;
        position: relative;
        z-index: 20;
      }

      &_text:after {
        display: inline-block;
        content: "";
        width: 12.5%;
        height: 20px;
        left: 51%;
        background-color: $underline_color;
        bottom: 0;
        position: absolute;
        z-index: -20;
      }

      &_card_wrap {
        @include flex;
        margin: 0 9%;
        text-align: center;
      }
        &_card {
          background: $windows_color;
          width: 33%;
          margin-left: 1%;
          border-radius: 5px;

          &_img {
            padding: 5% 0;
            width: 90%;
            border-radius: 30px;
          }

          &_heading {
            display: inline-block;
            color: $sch_color;
            font-family: $font_1;
            font-size: 25px;
            position: relative;
            z-index: 2;
          }

          &_heading:after {
            content: "";
            width: 100%;
            height: 12.5px;
            background-color: $underline_color;
            left: 0;
            bottom: 0;
            position: absolute;
            z-index: -20;
          }

          &_text {
            color: #8A95A4;
            font-family: $font_2;
            padding: 5% 3%;
            font-size: 18px;
          }
        }

        &_banner {
          margin: 10% 15% -5% 15%;
          height: 150px;
          background: linear-gradient(45deg, $m_grad_col_1, $m_grad_col_2);
          border-radius: 5px;
          position: relative;
          z-index: 1;

            &_heading {
              color: $windows_color;
              width: 100%;
              font-family: $font_1;
              font-size: 32px;
              font-weight: bold;
              padding: 20px 0 0 100px;
              z-index: 1;
              position: relative;
            }

            &_heading:after {
              content: "";
              width: 65px;
              height: 16px;
              background-color: $underline_color;
              left: 19%;
              bottom: 2px;
              position: absolute;
              z-index: -20;
            }

            &_text {
              padding: 20px 0 0 100px;
              font-size: 18px;
              color: #B0C3CC;
              font-family: $font_2;
              z-index: -1;
              position: relative;
            }

          &_button {
            @extend %body;
            background: map_get($color_map, background);
            width: 150px;
            height: 50px;
            font-size: 20px;
            border: 0;
            border-radius: 5px;
            font-family: 'Fresca', sans-serif;
            margin: 0 0 0 75%;
            bottom: 60px;
            z-index: 2;
            position: relative;
          }
        }
      }
.footer {
  height: 250px;
  background: $windows_color;
  font-family: $font_1;
  &-wrap {
    @include flex;
    padding: 150px 0 0 10%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
    &_logo {
      @include flex;
      p {
        float: right;
        color: $footer_text_color;
        font-size: 26px;
        padding-left: 10%;

        span {
          display: block;
          font-size: 10px;
          padding-left: 1%;
          position: absolute;
        }
      }
    }

    &_text {
      font-size: 14px;
      color: $footer_text_color;
      margin: 0 5% 0 20%;
    }

    &-cr {
      font-size: 16px;
      color: $footer_text_color;
      text-align: right;
      padding-right: 10%;
      font-family: $font_1;
      position: static;
      box-sizing: border-box;
      width: 100%;
    }
}
}