$bg: url(../img/m-h-night.jpg)  no-repeat;
$body_bg: #21232E;
$html_color: #21232E;
$windows_color: #3B3F50;
$sch_color: white;
$b_text_color: white;
$s-text_color: white;
$font_1: 'Source Sans Pro', sans-serif;
$font_2: 'Hind', sans-serif;
$footer_text_color: #BEC2CF;
$button_color: #E3AC3E;
$m_text1: white;
$m_text2: #D1D1AE;
$m_grad_col_1 : #E1AA3D;
$m_grad_col_2 : #922D51;
$underline_color: #EE4A34;
$top_logo_color: white;