$bg: url(../img/m-h-day.jpg)  no-repeat;
$body_bg: white;
$html_color: white;
$windows_color: #21232E;
$sch_color: white;
$b_text_color: #2C2F3C;
$s-text_color: #2C2F3C;
$font_1: 'Source Sans Pro', sans-serif;
$font_2: 'Hind', sans-serif;
$footer_text_color: #BEC2CF;
$button_color: #699928;
$m_text1:#2C2F3C;
$m_text2: #B0C3CC;
$m_grad_col_1 : #689827;
$m_grad_col_2 : #2B5ADD;
$underline_color: #3FA0C7;
$top_logo_color: #2C2F3C;