.box-bg:hover {
    background-color: rgb(134, 204, 248);
}

.box-bg h2:hover {
    font-weight: 400;
    color: #F4F9FE;
}
.tm-banner {
    background-color: #75cbd5;
}

.tm-banner-inner {
    background-color: #FFFFFF;
}

.tm-banner-text {
    text-shadow: 0px 3px 1px #76cdd7, 0px 10px 1px #76cdd7;
    letter-spacing: 5px;
    word-spacing: 5px;
}
.flex-2-col {
    display: flex;
}
.tm-team-description-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section {
    position: relative;
    overflow: hidden;
}
section::before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 45px solid #75cbd5;
    border-right: 45px solid transparent;
}
.heading h2 {
    color: #76cdd7;
    text-align: center;
}
.heading ol li {
    list-style-type: lower-roman;
}
.heading ol li a:visited {
    color: #ffb347;
}
.heading ol li:nth-child(1) a::after,
.heading ol li:nth-child(3) a::after {
    content: "New";
    color: red;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    font-variant: small-caps;
}
.heading ol li a:hover {
    text-decoration: none;
    font-weight: bold;
    border-left: 3px solid rgb(255, 179, 71);
}
.heading ol li a {
    padding-left: 3px;
    border-left: 3px solid transparent;
}
.gallery-container li.box-work {
    padding: 10px;
}
.gallery-container li.box-work:nth-child(2n) {
    background-color: whitesmoke;
}
.tm-sidebar, section,
.tm-content-header {
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
#about {
    margin-bottom: 0px;
}
.tm-main-content section:nth-child(2) {
    margin-bottom: 30px;
}
.blocks .tm-content-box {
    margin-bottom: 0px;
}
.blocks {
    margin-bottom: 30px;
}
#ideas .tm-content-box {
    margin-bottom: 0px;
}
#ideas {
    margin-bottom: 30px;
}
.box-work p {
    font-style: italic;
}
.box-work p:first-letter {
    font-size: 2em;
}
#contact_name, #contact_email, #contact_subject {
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #87CEFA;
}
#contact_name:focus, #contact_email:focus,
#contact_subject:focus, #contact_message:focus {
    background-color: #00CED1;
}
#contact_message {
    resize: none;
    border: 2px solid #87CEFA;
    border-radius: 4px;
}
.submit-btn {
    border-radius: 0px;
    background-color: white;
    border: 2px solid #87CEFA;
    color: #87CEFA;
    float: right;
    width: 150px;
    height: 50px;
}
.submit-btn:hover {
    background-color: #87CEFA;
    border: 2px solid #87CEEB;
    color: white;
}
.mandatory-field::after {
    content: "";
    background: url(../img/email-icon.png) no-repeat;
    background-size: 30px;
    background-position: right;
    top: 4px;
    width: 30px;
    height: 30px;
}
.tm-nav-item a:hover {
    background-color: white;
}
h2 + p {
    text-indent: 25px;
    line-height: 1.8;
    font-style: italic;
}
h2 ~ p {
    text-indent: 25px;
}
.box-work h2 + p {
    text-indent: 0px;
}
.contact-form input, #contact_message {
    color: #fff;
}
.tm-banner-text {
    letter-spacing: 4px;
    word-spacing: 7px;
    text-shadow: 0 8px 1px #87CEFA, 0 3px 1px #87CEFA;
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes anim {
    from {
        transform: scaleX(-1)
    }
    to {
        transform: scaleX(1)
    }
}

@media print {

    .tm-sidebar, #about, head,
    .tm-main-content section:last-of-type,
    #ideas .carousel-indicators, .blocks .tm-content-box,
    section::before, .tm-content-box img, .heading ol a.text:after {
        display: none;
    }

    .heading.tm-content-box, .tm-banner-inner p.tm-banner-text,
    .tm-banner-inner p.tm-banner-text::first-letter,
    .tm-section-title, li:first-letter {
        -webkit-print-color-adjust: exact;
    }

    .container, .tm-banner {
        background-color: #FFFFFF;
    }

    div.padding-medium ol li:hover::before {
        content: none;
    }

    .flex-item,
    .tm-team-description-container {
        display: block;
        max-width: 100%;
    }

    .tm-content-box p,
    .blocks p {
        text-align: center;
        max-width: 100%;
    }

    .heading.tm-content-box {
        color: #87CEFA;
    }

    .tm-banner-inner p.tm-banner-text {
        text-shadow: none;
        letter-spacing: inherit;
        word-spacing: inherit;
    }
    .tm-content-header .tm-banner-inner img {
        display: block;
    }

    .tm-section-title {
        text-transform: uppercase;
        color: #87CEFA;
        text-align: center;
    }

    .heading ol {
        width: 50%;
        margin: 0 auto;
    }

    div.padding-medium ol {
        margin: 0 20%;
    }

    .padding-medium ol li {
        list-style-type: none;
    }

    .padding-medium ol a {
        color: #000000;
        font-size: 16px;
    }

    li:first-letter {
        color: #87CEFA;
        font-size: 25px;
    }
    .heading ol li a:visited {
        color: #000000;
    }

    .padding-medium ol li:nth-child(odd) {
        text-align: left;
    }

    .padding-medium ol li:nth-child(even) {
        text-align: right;
    }

    .tm-main-content,
    .container,
    .tm-content-box,
    body {
        padding: 0;
        max-width: 100%
    }
    p {
        font-style: normal !important;
    }
    .margin-b-10,
    .tm-content-box,
    .tm-section-title {
        margin: 0;
        padding: 0;
    }

    .padding-medium {
        padding: 5px;
    }
@page  {
    size: auto;
    margin: 0;

}

}